USE [master]
GO
/****** Object:  Database [contacts]    Script Date: 6/9/2021 7:43:56 PM ******/
CREATE DATABASE [contacts]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'phone', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\phone.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'phone_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\phone_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [contacts].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [contacts]
GO
/****** Object:  Table [dbo].[employee]    Script Date: 6/9/2021 7:43:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee](
	[employee] [varchar](255) NULL,
	[phone_number] [varchar](255) NULL,
	[company] [varchar](255) NULL,
	[country] [varchar](255) NULL,
	[zip_code] [text] NULL,
	[state] [varchar](255) NULL,
	[city] [varchar](255) NULL,
	[id] [varchar](255) NOT NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
